body {
  font-family: helvetica, serif;
  margin: 0 auto;
}
header {
  text-align: center;
  background: url("../assets/fractals.jpg");
  background-size: cover;
  background-position: center;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid rgba(14, 40, 48, 0.7);
  border-radius: 20px;
  max-width: 150px;
  max-height: 150px;
}
a {
  text-decoration: none;
  color: #FFEDDF;
}
h1 {
  font-size: 42px;
  margin: -5px 0 0 0;
  font-family: 'Lora', serif;
  color: #FFEDDF;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.4);
}
h2 {
  font-size: 22px;
  margin: 0 0 36px 0;
  font-family: 'Lora', serif;
  color: #FFEDDF;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.3);
}
small {
  font-size: 20px;
  font-family: 'Lora', serif;
  color: #FFEDDF;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.3);
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.65);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
main {
  background: #ff7473;
  font-family: helvetica, serif;
  margin-top: -10px;
  padding: 47px 0 300px 0;
}
p {
  background: #47b8e0;
  color: #282c37;
  padding: 10px;
  text-align: justify;
  line-height: 24px;
  position: relative;
  left: 150px;
  border-radius: 10px;
}
@media (max-width: 500px) {
  img {
    margin-top: 20px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 16px;
  }
}
/* WAIT ON LATER TUTORIALS BEFORE IMPLEMENTING THIS SHIZ ON CONTACT PAGE
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 20px;
}
input[type="submit"] {
  color: white;
  background: rgba(14, 40, 48, 0.5);
}
*/
