body {
  font-family: helvetica, serif;
}
header {
  text-align: center;
  background: url("../assets/snailbg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid rgba(14, 40, 48, 0.5);
  border-radius: 20px;
  max-width: 150px;
  max-height: 150px;
}
a {
  color: rgba(255,255,255,1);
}
h1 {
  font-size: 42px;
  font-family: 'Lora', serif;
}
p {
  font-size: 22px;
  color: rgba(255,255,255,1);
  margin: 22px;
  font-family: 'Lora', serif;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
/* WAIT ON LATER TUTORIALS BEFORE IMPLEMENTING THIS SHIZ ON CONTACT PAGE
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 20px;
}
input[type="submit"] {
  color: white;
  background: rgba(14, 40, 48, 0.5);
}
*/
